/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd569;
  min-height: 100vh;
  background-size: cover;
}

.image {
  width: 50%;
  display: flex;
  align-self: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px;
  background-size: cover;
  padding: 20px;
  max-width: 1100px;
  border-radius: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

button {
  color: white;
  background-color: blue;
  border-radius: 10px;
  margin: 10px;
  width: 100px;
  display: flex;
  align-self: center;
  text-align: center;
}

.card-container-2 {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .card-container-2 {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
}
